.luckiest-guy {
  font-family: 'Luckiest Guy', cursive;
}

#notification-area {
  font-weight: bolder;
  color: red;
  position: relative;
  top: 7px;
  padding: 5px;
  white-space: nowrap;
}

.home.container .row.top {
  padding: 20px;
  width: 100%;
  min-width: 100%;
}

.game-board {
  min-width: 55%;
  float: left;
}

.info-section {
  min-width: 40%;
  float: left;
}

.nobles-container .noble {
  width: 100px;
  height: 100px;
}

.level3 .card-container, .level2 .card-container, .level1 .card-container {
  min-height: 160px;
  min-width: 115px;
}

.card-container .card {
  height: 165px;
  width: 115px;
  background-size: 165px 115px;
  min-width: 115px;
  min-height: 115px;
}

.chip {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}

.count {
  position: relative;
  top: 0px;
  left: 60px;
  font-weight: bolder;
  padding: 4px 7px 4px 7px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  color: #d3d3d3;
  /*text-shadow: 1px 1px 3px #d3d3d3;*/
}

.count.inventory {
  top: 0px;
  left: 25px;
  font-size: 0.9em;
}

.card.selection, .chip.selection {
  display: table-cell;
  vertical-align: middle;
  box-shadow: 3px 3px 7px #262626;
}





.card.selection {
  border-radius: 10px;
  border: 2px solid #262626;
}

.card.inventory {
  height: 111px;
  width: 80px;
  margin: 0px 18px 0px 18px;
}

.home .inline-list {
  margin: -5px 0px 10px -8px;
}

.card-containers {
  padding-bottom: 10px;
}

.card-stack {
  height: 290px;
  border: 1px solid #d3d3d3;
  background: #ffffff;
  border-style: double;
  border-width: 2px;
}

.card.selection:hover {
  border: 2px solid red;
  background-color: rgba(0, 0, 0, 0.50);
}

.chips .chip-selection-container.columns {
  padding: 0px;
}



.chip-selection {
  height: 220px;
}

.chip-inventory-container {
  padding-bottom: 20px;
}

.chip.inventory {
  height: 55px;
  width: 55px;
  margin-right: 10px;
}

.card .buy, .card .reserve, .chip .select {
  opacity: 0;
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.card .buy {
  width: 70%;
  margin: 0px auto 10px auto;
  position: relative;
  top: 25px;
  left: 20px;
}

.card .reserve {
  width: 70%;
  position: relative;
  top: 25px;
  left: 20px;
}

.chip .select {
  width: 70%;
  position: relative;
  top: 10px;
  left: 15px;

}

.card:hover .buy {
  opacity: 1.00;
}

.card:hover .reserve {
  opacity: 1.00;
}

.chip:hover .select {
  opacity: 1.00;
}

.player-info {
  background: #d3d3d3;
  padding-left: 5px;
}

.selected-chips {
  margin-bottom: 10px;
}

.no-selected-chips {
  height: 100px;
}

.player-info {
  height: 400px;
}

.small-border {
  border: 1px solid;
}

a.current-player {
  font-weight: bold;
  font-style: italic;
}

dd.active {
  border: 1px solid #0078a0;
}

/*.white {
  border: 1px solid #d3d3d3;
  border-style: double;
  border-width: 3px;
}

.blue {
  border: 1px solid #0000e6;
  border-style: double;
  border-width: 3px;
}

.green {
  border: 1px solid #009d00;
  border-style: double;
  border-width: 3px;
}

.red {
  border: 1px solid #cc0000;
  border-style: double;
  border-width: 3px;
}

.brown {
  border: 1px solid #070503;
  border-style: double;
  border-width: 3px;
}

.yellow {
  border: 1px solid #ffc200;
  border-style: double;
  border-width: 3px;
}*/

