.luckiest-guy {
  font-family: 'Luckiest Guy', cursive;
}

.row {
  padding: 5px 0px 5px 0px;
}

.tile {
  height: 120px;
  width: 120px;
}

.card {
  /*height: 195px;
  width: 138px;*/
  height: 185px;
  width: 135px;
  display: table-cell;
  vertical-align: middle;
  border: 2px solid #262626;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #262626;
}

.card :hover {
  background-color: rgba(0, 0, 0, 0.50);
  opacity: 0.5;
}

.card .buy, .card .reserve {
  opacity: 0;
  padding: 8px 12px 8px 12px;
  border-radius: 3px;
  font-size: 12px;
  font-color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.card .buy {
  width: 80%;
  margin: 0px auto 10px auto;
}

.card .reserve {
  width: 80%;
  margin: 0px auto;
}

.card:hover .buy {
  background: green;
  opacity: 1.00;
  border: 1px solid #d3d3d3;
}

.card:hover .reserve {
  background: orange;
  opacity: 1.00;
  border: 1px solid #d3d3d3;
}
