.luckiest-guy {
  font-family: 'Luckiest Guy', cursive;
}

#login-modal {
  width: 32%;
  margin: 0 auto;
}

.tile {
  width: 10%;
  height: 10%;
}

.card {
  width: 137px;
  height: 193px;
  background-color: rgba(0, 0, 0, 1.00);
}

.tile:hover, .card:hover {
  background-color: rgba(0, 0, 0, 0.50);
}

.card-image {
  float:left;
}

.card .buy {
  opacity: 0;
  float: left;
  margin: 50px 0px 0px 50px;
  padding: 10px;
  border-radius: 7px;
}

.card .reserve {
  opacity: 0;
  float: right;
}

.card:hover .buy {
  background: green;
  opacity: 1.00;
}

.card:hover .reserve {
  background: orange;
  opacity: 1.00;
}
